<app-title [titlePage]="titlePage"></app-title>

<section class="container-star-wars" *ngIf="loadPageCharacters" [@fadeIn]>
  <div class="container-inputs">
    <form class="container-inputs__form"
      [formGroup]="charactersForm"
      (ngSubmit)="searchFilterCaracters()"
    >

      <input
        formControlName="inputCaracterName"
        matInput
        placeholder="Pesquisar por nome"
        autocomplete="off"

      />
    </form>

    <div class="container-inputs__input">
      <input
        matInput
        placeholder="Filtro avançado (cabelos, olhos, nascimento e etc)"
        [(ngModel)]="inputFilters" (ngModelChange)="onChange($event)"
        autocomplete="off"
        class=""
      />
    </div>
  </div>

  <table #table>
    <tr>
      <th>
        Nome
      </th>
      <th>
        Altura
      </th>
      <th>
        Peso
      </th>
      <th class="hide-sm">
        Cor do cabelo
      </th>
      <th class="hide-sm">
        Cor da pele
      </th>
      <th>
        Cor dos olhos
      </th>
      <th class="hide-sm">
        Ano nascimento
      </th>

      <th>
        Sexo
      </th>

      <th>
        Detalhes
      </th>
    </tr>

    <tr *ngFor="let element of data | filter:inputFilters:['name', 'height', 'mass', 'hair_color', 'skin_color', 'eye_color', 'birth_year', 'gender']; let i = index">
      <td>
        {{ element.name }}
      </td>
      <td>
        {{ element.height }}
      </td>
      <td>
        {{ element.mass }}
      </td>
      <td class="hide-sm">
        {{ element.hair_color }}
      </td>
      <td class="hide-sm">
        {{ element.skin_color }}
      </td>
      <td>
        {{ element.eye_color }}
      </td>
      <td class="hide-sm">
        {{ element.birth_year }}
      </td>
      <td>
        {{ element.gender }}
      </td>
      <td>
        <a (click)="detailsPage(element)">Detalhes</a>
      </td>
    </tr>
  </table>
</section>

<app-pagination [atualPage]='atualPage' [totalPagination]='totalPagination' [pageSize]='pageSize' [pagination]='pagination' (outputPagination)='searchFilterCaracters($event)'></app-pagination>


<app-loading [loadComplete]="!loadComplete"></app-loading>


<app-modal [titleModal]='titleModal' [messageModal]='messageModal' [openModal]='openModal'></app-modal>

