@import "src/sass/abstracts/mixins";
@import "src/sass/abstracts/variables";

.pagination {
  display: inline-block;
  padding: 10px;
  width: 15px;
  background-color: transparentize($red, 0.1);
  color: transparentize($white, 0.1);
  margin-left: 12px;
  margin-top: 10px;
  height: 15px;
  margin-bottom: 15px;
  text-align: center;
  &.active {
    background-color: transparentize($yellow, 0.1);
    color: transparentize($red, 0.1);
  }
}

.container-inputs {
  margin-bottom: 10px;
  &__form{
    display: inline-block;
  }
  &__input{
    float: right;
  }
}

table {
  margin: auto;
  width: 100%;
  text-align: left;

  td,
  th {
    padding: 10px;
  }

  td {
    background-color: transparentize($black, 0.1);
  }

  tr:nth-child(even) {
    td {
      background-color: transparentize($dark-gray, 0.1);
    }
  }

  th {
    background-color: transparentize($red, 0.5);
  }
}
