@import "src/sass/abstracts/variables";

.header-container {
  &__logo {
    margin-top: 30px;

    @media only screen and (max-width: 530px) {
      width: 240px;
    }
  }
  &__menu {
    position: absolute;
    width: 100px;
    top: 20px;
    left: 0px;

    @media only screen and (max-width: 600px) {
      width: 55px;
    }

    a {
      display: block;
      margin-top: 15px;
    }
  }
}
