<section class="movie-resume container-star-wars" *ngIf="!showMovieResume" [@fadeIn]>
    <article class="movie-resume__article">
      <img src="{{ movieObjectList.image }}" class="movie-resume__img" alt='Star Wars movie' />

      <h2 class="movie-resume__title">{{ movieObjectList.title }}</h2>
      <p>{{ movieObjectList.sinopse }}</p>

      <p class="font-bold">Producer: {{ movieObjectList.producer }}</p>
      <p class="font-bold">Director: {{ movieObjectList.director }}</p>

      <div>
        <div class="float-left">
          <a (click)="charactersPage()" class="a-link" title="Personagens">Personagens</a>
        </div>
        <div class="float-right">
          <a (click)="back()" class="a-link" title="Fechar">Fechar</a>
        </div>
      </div>
    </article>

</section>
