::ng-deep {

  // mat-label normal state style
  .mat-form-field-label {
    color: $white !important;
  }

  // mat-label focused style
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $yellow !important;
  }

  .mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: $yellow !important;
  }

}
