::ng-deep .mat-table {
  background: inherit !important;
}


.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-row:nth-child(2n+1){
  background: transparentize($black, 0.5) !important;
}
.mat-row:not(:nth-child(2n+1)){
  background: transparentize($gray, 0.5) !important;
}

.mat-header-row{
  background-color: transparentize($dark-red, .3) !important;
}
