<app-title [titlePage]="titlePage"></app-title>

<div class="container-star-wars" *ngIf="moviesList">
  <a (click)="back()" class="a-link text-right" title="Voltar">
    Voltar
  </a>
</div>

<section
  class="container-star-wars detail-caracters"
  *ngIf="moviesList"
  [@fadeIn]
>
    <article>
      <p>
        <span class="font-bold">Altura: </span>
        {{ dataSource.height }}
      </p>
      <p>
        <span class="font-bold">Peso: </span>
        {{ dataSource.mass }}
      </p>
      <p>
        <span class="font-bold">Cor do cabelo: </span>
        {{ dataSource.hair_color }}
      </p>
      <p>
        <span class="font-bold">Cor da pele: </span>
        {{ dataSource.skin_color }}
      </p>
    </article>

    <article>
      <p>
        <span class="font-bold">Cor dos olhos: </span>
        {{ dataSource.eye_color }}
      </p>
      <p>
        <span class="font-bold">Ano de nascimento: </span>
        {{ dataSource.birth_year }}
      </p>
      <p><span class="font-bold">Sexo: </span>{{ dataSource.gender }}</p>

      <p>
        <span class="font-bold">Criado: </span>
        {{ dataSource.created | date: "dd/MM/yyyy HH:mm:ss" }}
      </p>
      <p>
        <span class="font-bold">Editado: </span>
        {{ dataSource.edited | date: "dd/MM/yyyy HH:mm:ss" }}
      </p>
    </article>
</section>

<app-movies-list
  [showMovieList]="moviesList"
  (outputMoviesResumeShow)="outputMoviesResumeShow($event)"
  [moviesSectionTitle]="moviesSectionTitle"
></app-movies-list>

<app-movie-resume
  [movieObjectList]="movieObjectList"
  [showMovieResume]="moviesList"
  (outputVoltar)="outputVoltar()"
></app-movie-resume>
